:root {
    --primary-color: #ffe4c4;
    --white-smoke: whitesmoke;
    --black: black;
    --red: red;
}

body { 
    background-color: var(--primary-color); 
    margin: 0px;
}

.b { 
    margin: auto;
    background-color: var(--primary-color);
}

.margins { 
    margin-bottom: 1em;
}

.title-text { 
    text-align: center;
    margin: auto;
}

.label-input {
    text-align: center;
    margin: auto;
    font-size: larger;
}

#dateBox {
    text-align: center;
    border-radius: 0.2rem;
}

#lucky-number {
    display: block;
    margin: auto;

    resize: none; 

    border-radius: 0.5em;
    padding: 0.5rem;

    text-align: center;
}

#btn-check {
    display: block;
    margin: auto;

    background-color: var(--primary-color);
    border-radius: 0.5em;

    padding: 0.5rem;
}

#hidden-text { 
    border: solid black 1px;;
    border-radius: 0.5rem;

    text-align: center;
    width:fit-content; 

    margin: auto;
    padding: 1rem;

    font-size: larger;
    font-style: bold;
}

.list-non-bullet { 
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {  
    display: inline;
    padding-right: 0.5rem;   
}

.footer { 
    text-align: center;
    padding: 3rem;
    background-color: var(--white-smoke);
}

.footer ul li a { 
    text-decoration: none;
    color: var(--black);
}

#footer-note {
    font-size: larger;
}

#privacy { 
    font-size: larger;
    padding: 1rem;
    text-align: center;
}

span { 
    color: var(--red);
}

#image-result { 
    display: block;
    margin: auto;
    height: 350px;
    background-image: url("assets/curiousbgsized.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
}
